language: ruby
rvm:
  - 2.2

branches:
  except:
  - gh-pages

before_script:
  - gem install asciidoctor
  - gem install --pre asciidoctor-pdf
  - asciidoctor -v
  - asciidoctor-pdf -v
  - sed -i -- 's/0.1.0/0.1.'$TRAVIS_BUILD_NUMBER'.'$TRAVIS_BRANCH'/g' src/index.adoc

script:
  - asciidoctor src/index.adoc -D build/
  - asciidoctor -r asciidoctor-pdf -b pdf src/index.adoc -D build/
  - mv build/index.pdf build/open-source-tips.pdf

after_success:
  - ls -l build/
  - |
      if [ -n "$GITHUB_API_KEY" ]; then
        cd "$TRAVIS_BUILD_DIR"
        cd build/
        rm .gitignore
        git init
        git checkout -b gh-pages
        git add .
        git -c user.name='travis' -c user.email='travis' commit -m "Generated for GitHub Pages"
        git push -f -q https://$GITHUB_API_KEY@github.com/eddiejaoude/book-open-source-tips gh-pages &> /dev/null
        cd "$TRAVIS_BUILD_DIR"
      fi
